In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"a":10,"b":20,"c":30}

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4],["India","USA","Japan","China"])
ser1

India    1
USA      2
Japan    3
China    4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4],["India","Italy","Japan","Mexico"])
ser2

India     1
Italy     2
Japan     5
Mexico    4
dtype: int64

In [20]:
ser1["Japan"]

3

In [21]:
ser2["Japan"]

5

In [ ]:
ser1 + s