In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
column_names = ["user_id", "item_id", "rating", "timestamp"]
df = pd.read_csv("u.data", sep="\t", names=column_names)

In [13]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [17]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [19]:
df = pd.merge(df, movie_titles, on = "item_id")

In [20]:
df.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [38]:
n_users = df["user_id"].nunique()
n_items = df["title"].nunique()

print("No. of User:", n_users)
print("No. of Movies:", n_movies)

No. of User: 944
No. of Movies: 1664

In [35]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(df, test_size=0.25)
train_data.head()

       user_id  item_id  rating  timestamp                         title
17158      268      328       1  876513643      Conspiracy Theory (1997)
21791      568      479       5  877906995                Vertigo (1958)
20945      194      135       3  879521474  2001: A Space Odyssey (1968)
11620       72      526       4  880037164                Ben-Hur (1959)
50730      201      431       1  884112352             Highlander (1986)

# Creating 2 user-item Matrices

In [39]:
#Create two user-item matrices, one for training and another for testing
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]  

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

IndexError: index 1675 is out of bounds for axis 1 with size 1664